<!-- Material form contact -->
<div class="jumbotron">
<div class="card">

    <h5 class="card-header heavy-rain-gradient dark-text text-center py-4">
        <strong>New Contact</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <!-- Name -->
            <div class="md-form mt-3">
                <input  type="text" id="materialContactFormName" class="form-control">
                <label for="materialContactFormName">Full Name</label>
            </div>

            <!-- Date -->
            <div class="md-form">
                <input type="date" id="materialContactFormDate" class="form-control">
            </div>


             <!-- Phone Number -->
             <div class="md-form">
                <input type="number" id="materialContactFormNumber" class="form-control">
                <label for="materialContactFormNumber">Phone Number</label>
            </div>

            <!-- E-mail -->
            <div class="md-form">
                <input type="email" id="materialContactFormEmail" class="form-control">
                <label for="materialContactFormEmail">E-mail</label>
            </div>

            <!-- Street -->
            <div class="md-form">
                <input type="text" id="materialContactFormStreet" class="form-control">
                <label for="materialContactFormStreet">Street</label>
            </div>

            <!-- City -->
            <div class="md-form">
                <input type="text" id="materialContactFormCity" class="form-control">
                <label for="materialContactFormCity">City</label>
            </div>

            <!-- State -->
            <div class="md-form">
                <input type="text" id="materialContactFormState" class="form-control">
                <label for="materialContactFormState">State</label>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Create!</button>

        </form>
        <!-- Form -->

    </div>

</div>
</div>
<!-- Material form contact -->